$color1: #fc85ae;
$color2: #9e579d;
$color3: #574b90;
$color4: #303a52;
$color5: #f4fa9c;
$color6:#493f80;
@media screen and (max-width:600px) {
    .event{
        background-color: $color3;
        color: $color5;
    }
    .event1 {
        color: $color5;
    }
    
    body{
    
        background-image:linear-gradient($color3,$color3);
    }
    .nav1{
        background-image: linear-gradient(to right,$color1 ,$color2);
        font-size: 1.1em;
        text-decoration: bold;
        text-shadow: 0 2px 5px rgba(0,0,0,0.5);
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    .nav-link {
        color:$color4!important;
        }
    .nav-link:hover{
        color: $color5!important;
        background-image: linear-gradient(to right,$color2 ,$color3);
    }
    
    
    .maintech{
        width: 100%;
        height: 80%;
        display:relative;
        align-items: center;

    border-radius: 5%;
    background-color:$color6;
    margin-top:12%;
    }
    .blanksp{

    height: 10%;
    }
    
    .abouttech{
        color: $color5;
        height:40%;
        align-items: center;
        padding:5%;
        font-size:65%;
        border-radius:5%;
    }








    .image1{
        width: 100%;
        height: 50%;
        object-fit: cover;
        z-index:1;
    
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    
    
    
    .image1:before{
        content:'';
        position: absolute;
        top: 10px;
        left:10px;
        right: 10px;
        bottom: 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scaleX(0);
        z-index:1;
    }
    .image1:hover:before{
        transform:scaleX(1);
        opacity: 1;
    }
    .image1:after{
        content:'';
        position: absolute;
        top: 10px;
        left:10px;
        right: 10px;
        bottom: 10px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scaleY(0);
        z-index:1;
    }
    .image1:hover:after{
        transform:scaleY(1);
        opacity: 1;
    }
    .imgBox{
        position: relative;
    }
    .image1 .imgBox img{
        width: 100%;
        transition:0.5%;
    }
    .image1:hover .imgBox img{
        opacity:0.3;
        transform: scale(1.2);
        
    }
    .regcont{
        position: absolute;
        width: 100%;
        color: white;
        font-size:1.5em;
        box-sizing: border-box;
        text-align:center;
        .imgBox{
        position: relative;
    }
    .image1 .imgBox img{
        width: 100%;
        transition:0.5%;
    }
    .image1:hover .imgBox img{
        opacity:0.5;
        transform: scale(1.2);
        
    }
    .regcont{
        position: absolute;
        width: 100%;
        color: white;
        font-size:2em;
        box-sizing: border-box;
        text-align:center;
        visibility: hidden;
        opacity: 0;
        z-index:2;
    }
    .box:hover .regcont{
        opacity: 1;
        visibility: visible;
        
        cursor:pointer;
    }
    }
    .box:hover .regcont{
        opacity: 1;
        visibility: visible;
    }









    .image1>img{
        width:100%; 
        height:100%; 
        object-fit:cover; 
    }
    .nametech{
        font-weight: bold;
        font-size: 1.2em;
    }
    .oddtech{
        text-align: left;

        border-top-right-radius: 5%;
        border-top-left-radius: 5%;
    }
    .eventech{
        text-align: right;

        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
    }

.oddtech>img{
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.eventech>img{
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
    }

    
@media screen and (min-width:1100px) {
.event{
	background-color: $color3;
	color: $color5;
}
.event1 {
	color: $color5;
}

body{

    background-image:linear-gradient($color3,$color3);
}
.nav1{
    background-image: linear-gradient(to right,$color1 ,$color2);
    font-size: 1.1em;
	text-decoration: bold;
	text-shadow: 0 2px 5px rgba(0,0,0,0.5);
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.nav-link {
    color:$color4!important;
    }
.nav-link:hover{
    color: $color5!important;
    background-image: linear-gradient(to right,$color2 ,$color3);
}


.maintech{
    width: 100%;
    height: 75%;
    display:flex;
    align-items: center;
    border-radius: 5%;
    margin-top:12%;
	background-color:$color6;
}
.blanksp{
    width: 15%;
    height: 100%;
}

.abouttech{
    color: $color5;
    width:35%;
    height: 100%;
    align-items: center;
	padding:5%;
	font-size:95%;
}
.image1{
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index:1;

	position: relative;
	box-sizing: border-box;
	overflow: hidden;
}




.image1:before{
	content:'';
	position: absolute;
	top: 10px;
	left:10px;
	right: 10px;
	bottom: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	transition: 0.5s;
	transform: scaleX(0);
	z-index:1;
}
.image1:hover:before{
	transform:scaleX(1);
	opacity: 1;
}
.image1:after{
	content:'';
	position: absolute;
	top: 10px;
	left:10px;
	right: 10px;
	bottom: 10px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	box-sizing: border-box;
	transition: 0.5s;
	transform: scaleY(0);
	z-index:1;
}
.image1:hover:after{
	transform:scaleY(1);
	opacity: 1;
}
.imgBox{
	position: relative;
}
.image1 .imgBox img{
	width: 100%;
	transition:0.5%;
}
.image1:hover .imgBox img{
	opacity:0.3;
	transform: scale(1.2);
	
}
.regcont{
	position: absolute;
    width: 100%;
	color: white;
	font-size:2em;
	box-sizing: border-box;
	text-align:center;
    visibility: hidden;
    opacity: 0;
	z-index:2;
}
.box:hover .regcont{
	opacity: 1;
	visibility: visible;
	
	cursor:pointer;
}
.box:hover .regcont{
	opacity: 1;
	visibility: visible;
}








.oddtech>img{

    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.eventech>img{

    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.nametech{
    font-weight: bold;
    font-size: 2.2em;
}
.oddtech{
    text-align: left;

    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.eventech{
    text-align: right;

    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;

}
}



@media screen and (min-width:600px) and (max-width:1100px) {
    .event{
        background-color: $color3;
        color: $color5;
    }
    .event1 {
        color: $color5;
    }
    
    body{
    
        background-image:linear-gradient($color3,$color3);
    }
    .nav1{
        background-image: linear-gradient(to right,$color1 ,$color2);
        font-size: 1.1em;
        text-decoration: bold;
        text-shadow: 0 2px 5px rgba(0,0,0,0.5);
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    .nav-link {
        color:$color4!important;
        }
    .nav-link:hover{
        color: $color5!important;
        background-image: linear-gradient(to right,$color2 ,$color3);
    }
    
    
    .maintech{
        width: 100%;
        height: 80%;
        display:relative;
        align-items: center;
        border-radius: 5%;
        margin-top:12%;
        background-color:$color6;
    }
    
    
    .abouttech{
        color: $color5;
        height:40%;
        align-items: center;
        padding:5%;
        font-size:95%;
    }









    .image1{
        width: 100%;
        height: 50%;
        object-fit: cover;
        z-index:1;
    
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    
    
    
    .image1:before{
        content:'';
        position: absolute;
        top: 10px;
        left:10px;
        right: 10px;
        bottom: 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scaleX(0);
        z-index:1;
    }
    .image1:hover:before{
        transform:scaleX(1);
        opacity: 1;
    }
    .image1:after{
        content:'';
        position: absolute;
        top: 10px;
        left:10px;
        right: 10px;
        bottom: 10px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        box-sizing: border-box;
        transition: 0.5s;
        transform: scaleY(0);
        z-index:1;
    }
    .image1:hover:after{
        transform:scaleY(1);
        opacity: 1;
    }
    .imgBox{
        position: relative;
    }
    .image1 .imgBox img{
        width: 100%;
        transition:0.5%;
    }
    .image1:hover .imgBox img{
        opacity:0.3;
        transform: scale(1.2);
        
    }
    .regcont{
        position: absolute;
        width: 100%;
        color: white;
        font-size:1.5em;
        box-sizing: border-box;
        text-align:center;
        .imgBox{
        position: relative;
    }
    .image1 .imgBox img{
        width: 100%;
        transition:0.5%;
    }
    .image1:hover .imgBox img{
        opacity:0.5;
        transform: scale(1.2);
        
    }
    .regcont{
        position: absolute;
        width: 100%;
        color: white;
        font-size:2em;
        box-sizing: border-box;
        text-align:center;
        visibility: hidden;
        opacity: 0;
        z-index:2;
    }
    .box:hover .regcont{
        opacity: 1;
        visibility: visible;
        
        cursor:pointer;
    }
    }
    .box:hover .regcont{
        opacity: 1;
        visibility: visible;
    }









    .image1>img{
        width:100%; 
        height:100%; 
        object-fit:cover; 
    }
    .nametech{
        font-weight: bold;
        font-size: 1.2em;
    }
    .oddtech{
        text-align: left;

        border-top-right-radius: 5%;
        border-top-left-radius: 5%;
    }
    .eventech{
        text-align: right;

        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
    }

.oddtech>img{
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.eventech>img{
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
    .blanksp{

        height: 10%;
        }
    }
